.board {
  background: white;
  margin: 50px auto;
  padding: 0px 33px 0px 25px;
  border-radius: 10px;
  color: brown;
  display: flex;
  flex-wrap: wrap;
  height: 630px;
  width: 900px;
  justify-content: space-around;
}